<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml" />
	<contextName>logback-spring-config</contextName>
	<logger name="com.alexbt" level="DEBUG" />
	<springProfile name="test">
		<logger name="com.alexbt.logging.MyFilter" level="TRACE" />
	</springProfile>
</configuration>